<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>The Silent Choir Project</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
    </head>
    <body class="body">

        <nav class="navbar navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static "/img/SilentChoir_Logo-WHITE.png" %}" alt="Silent Choir Logo">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- thought it might be nice to include some resources here, these need to be filled in -->
                        <li><a href="#" target="_blank">placeholder1</a></li>
                        <li><a href="#" target="_blank">placeholder2</a></li>
                        <li><a href="#" target="_blank">placeholder3</a></li>
                    </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" target="_blank">Who we are</a></li>
                        <li><a href="{% url 'inquire' %}" target="_blank">Inquire</a></li>
                        <!-- we need to make sure the project is set up to go public before our app is live -->
                        <li><a href="https://github.com/tabdollahi/silentchoir" target="_blank">Github</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
            
        <div class="container">
            <h1 class="header">ARE YOU COMFORTABLE REPORTING</h1>

            <form class="bodyText">

            <div>
            	<p>
                Disclosing violence and other abuses can be an intimate, delicate, and often a painful process that can trigger a number of emotional reactions. While your participation can be a healing and meaningful contribution to combating rape culture, you are in no way obligated to share your story.
               	</p>

            	<p>
				Please consider whether this is the right time for you to be completing this report. Do you have a support system or other resources to access should you feel triggered? Are you in a safe place? Please call the <a style="color:#91b735;" href="https://rainn.org/about-national-sexual-assault-telephone-hotline" target="_blank">National Sexual Assault Telephone Hotline</a> (800.656.HOPE (4673)) if you need to speak with a trained professional.
                </p>
            </div>

            <div class="form-actions">
                <a href="{% url 'trigger' %}"><button type="button" class="btn btn-default">Continue with my report</button></a>
                <br>
                <small><a style="color:#91b735;" data-toggle="modal" data-target="#takeMeHomeModal">I want to terminate my report and any information submitted to this point.</a></small>
            </div>

            </form>

            <!-- I'd like to style the Modal to be a different background color. -->
            <div class="modal fade" id="takeMeHomeModal" tabindex="-1" role="dialog" aria-labelledby="takeMeHomeModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="takeMeHomeModalLabel">Are you sure you want to leave your report?</h5>
                  </div>
                  <div class="modal-body">
                    <!-- Need to come up with actual text for this -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam ligula, vestibulum eu facilisis nec, rutrum ac enim. Sed pulvinar elit purus, et ultrices velit lobortis sed. Pellentesque lobortis congue rhoncus. Nulla euismod magna lorem, in tempor ex elementum ut. Vestibulum fringilla enim ligula, pulvinar ullamcorper tellus finibus vel. Aliquam erat volutpat. Mauris et enim lorem. Quisque sit amet erat arcu. Sed id interdum orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus mattis lectus vitae nulla vehicula dictum. Pellentesque justo eros, cursus et lacus a, posuere pharetra elit. Nullam luctus risus eu lacus sagittis vulputate. Vestibulum consectetur nisi a sem viverra, quis lacinia dui vestibulum.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'home' %}"><button type="button" class="btn btn-default">Take me home</button></a>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="footer">
                Note: If anything in this questionnaire makes you feel uncomfortable or induces any unwanted stress, please do not hesitate to use the <a style="color:#91b735;" href="https://rainn.org/about-national-sexual-assault-telephone-hotline" target="_blank">National Sexual Assault Telephone Hotline</a> (800.656.HOPE (4673)) to be connected with a trained staff member from a sexual assault service provider in your area. This hotline is operated by <a style="color:#91b735;" href="https://www.rainn.org/" target="_blank">RAINN</a> who can provide counseling and advisory services for survivors.
            </div>
        </div>
    </body>
</html>