<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>The Silent Choir Project</h1>
        <div>Welcome to the Silent Choir. Our goal is to uncover patterns of harassment and abuse by connecting survivors. 

		If you have been the victim of abuse in the workplace, at school, at home, or anywhere at all, and would like to share your story on a safe platform, on your own terms, please join us.</div>
    </body>
</html>