<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>The Silent Choir Project</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
    </head>
    <body class="body">
        <nav class="navbar navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static "/img/SilentChoir_Logo-WHITE.png" %}" alt="Silent Choir Logo">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'intro' %}">Submit a report<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- thought it might be nice to include some resources here, these need to be filled in -->
                        <li><a href="#" target="_blank">placeholder1</a></li>
                        <li><a href="#" target="_blank">placeholder2</a></li>
                        <li><a href="#" target="_blank">placeholder3</a></li>
                    </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Who we are</a></li>
                        <li><a href="{% url 'inquire' %}">Inquire</a></li>
                        <!-- we need to make sure the project is set up to go public before our app is live -->
                        <li><a href="https://github.com/tabdollahi/silentchoir" target="_blank">Github</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container">
            <div>

                <h1 style="color:#ffffff">Inquire with us</h1>

                <p style="color:#a8a8a8">If you are a developer, or have experience with media or donor outreach for non-profit causes, and would like to help, please send us a message.</p>

                <p style="color:#a8a8a8">For general inquiries, you may also use this contact form.</p>

                <p style="color:#a8a8a8">Thank you.</p>
            </div>

            <br>

            <form class="formText">
                <div class = "form-group">
                    <label for="inputName">Name *</label>
                    <input type="text" class="form-control" id="inputName" required>
                </div>
                <div class = "form-group">
                    <label for="inputEmailAddress">Email address *</label>
                    <input type="text" class="form-control" id="inputEmailAddress" required>
                </div>
                <div class = "form-group">
                    <label for="inputSubject">Subject *</label>
                    <input type="text" class="form-control" id="inputSubject" required>
                </div>
                <div class = "form-group">
                    <label for="inputMessage">Message *</label>
                    <textarea class="form-control" id="inputMessage" rows="6" required></textarea>
                </div>
                <!-- this doesn't go anywhere right now, it should sent an email to silentchoir email -->
                <div>
                    <input type="submit" value="Submit" class="btn btn-secondary">
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <p class="text-muted"><strong>*</strong> These fields are required. </p>
                </div>
        </div>
            </form>
        
            <br>

        </div>
    </body>
</html>