<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>The Silent Choir Project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main-style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1 class="header">INTRODUCTION</h1>

            <form>

            <div class="center">
                <p>
                The Silent Choir is a secure, safe, reporting tool for survivors to name their offender(s). Based on these anonymous reports, we aim to connect survivors who have been harassed or abused by the same offender.
                </p>

                <p>
                By connecting survivors in this way, we hope to create a path to accountability that may pave the way towards healing. We aim to democratize the tools that have been available to the victims of such high profile cases as Harvey Weinstein and Bill Cosby.
                </p>
            </div>

            <div class="form-actions">
                <a href="{% url 'home' %}"><button type="button" class="btn btn-default">Take me home</button></a>
                <a href="{% url 'about' %}"><button type="button" class="btn btn-default">Continue</button></a>
            </div>

            </form>

            <hr>

            <div class="footer">
                Note: If anything in this questionnaire makes you feel uncomfortable or induces any unwanted stress, please do not hesitate to use the <a style="color:#91b735;" href="https://rainn.org/about-national-sexual-assault-telephone-hotline" target="_blank">National Sexual Assault Telephone Hotline</a> (800.656.HOPE (4673)) to be connected with a trained staff member from a sexual assault service provider in your area. This hotline is operated by <a style="color:#91b735;" href="https://www.rainn.org/" target="_blank">RAINN</a> who can provide counseling and advisory services for survivors.
            </div>
        </div>
    </body>
</html>