{% extends "base.html" %}

{% block content %}

<h1 class="header">THE SILENT CHOIR PROJECT</h1>

<br>

<div class="colHeader">
    <p style="text-transform: uppercase;">
        Welcome to the Silent Choir. Our goal is to uncover patterns of harassment and abuse by connecting survivors and
        democratizing the tools that have been available to the victims of such high profile cases as those involving
        Harvey Weinstein and Bill Cosby.</p>

    <p style="text-transform: uppercase;">
        If you have been the victim of harassment or abuse and would like to share your story on a safe platform, on
        your own terms, please join us.</p>
</div>

<hr>

<div class="row">
    <div class="col-md-6 colText">
        <h4 class="colHeader">UNCOVERING ABUSE</h4>

        <p>The statistics surrounding sexual assault paint a disturbing picture. Some estimates are that up to 90% of
            sexual abuse goes unreported. Meanwhile, 70% of victims can identify their offender as they are a friend, a
            co-worker, neighbor or a relative. In addition, sexual abuse is a crime that is typically recommitted.</p>

        <p>This means that certain offenders can carry on recommitting abuses against dozens of victims for decades.</p>

        <p>This ends now.</p>

        <h4 class="colHeader">ABOUT US</h4>

        <p>We are a group of survivors, allies, and techies, looking to empower those who have survived traumatic
            experiences, making it easier to share these stories and connect.</p>

    </div>
    <div class="col-md-6 colText">
        <h4 class="colHeader">OUR PLATFORM</h4>
        <p>The Silent Choir is a secure, safe reporting tool for survivors who would like to name their offender(s) and
            tell their stories in a private setting.We don’t ask for your name or personal details. You will remain
            anonymous on our platform unless you choose to disclose your personal details to other survivors.</p>

        <p>Survivors can submit anonymous reports and — with their consent — we will connect them with other survivors
            who have experienced harassment or abuse at the hands of the same offender. You can abandon your report at
            any time and note that we do not store any of your personal data.</p>

        <p>By connecting survivors in this way, we hope to create a path to accountability that may pave the way towards
            healing.</p>

        <p>The Silent Choir is a closed system: reports are not searchable or public. Submitted reports are encrypted.
            Reports will not be shared with law enforcement without prior consent or notice. The sole purpose of a
            report is for us to be able to make meaningful connections between survivors, anonymously.</p>

        <p>An important note about filing a report: we do not endorse or advocate for any specific action targeting
            alleged perpetrators. We are not a legal advocacy group and we do not publish reports or identities. While
            we may, in some cases, offer support or advice to survivors, any action against any alleged perpetrator of
            abuse or harassment will have to be taken by survivors themselves and not by our platform. This creates a
            safety policy against submitting fake reports: such actions will be fruitless as they do not receive
            endorsement from our platform.</p>
    </div>
</div>

<div class="form-actions">
    <a href="{% url 'trigger' %}">
        <button type="button" class="btn btn-default customButton">Submit a report</button>
    </a>
</div>

{% endblock %}
