{% extends "base.html" %}

{% block content %}

<!--AS: Would like to figure out a way to style these questions better-->
<h3 class="headerQuestion">Can you identify the person who violated you?</h3>

<br>

<form class="formText">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="canIdentify" id="canIdentify-yes" value="Yes">
        <label class="form-check-label" for="canIdentify-yes">
            Yes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="canIdentify" id="canIdentify-no" value="No">
        <label class="form-check-label" for="canIdentify-no">
            No
        </label>
    </div>

    <br>

    <!--This should only be enabled if user selects 'YES' above.-->
    <div>
        <h3 class="headerQuestion">Please copy and paste a link to the Facebook account of the person who committed the
            incident you are reporting. </h3>
        <div class="md-form">
            <label for="socialLink">Please paste in the link below.</label>
            <input type="text" id="socialLink" class="form-control">
        </div>
    </div>

    <br>

    <!--If the option below is selected, we need to disable the inputs above -->
    <div class="form-check">
        <input class="form-check-input" type="radio" name="socialProfle" id="socialProfile-decline"
               value="I do not wish to name my offender at this time.">
        <label class="form-check-label" for="socialProfile-decline">I do not wish to name my offender at this
            time.</label>
    </div>

    <br>

    <div class="form-actions">
        <a href="{% url 'q6-describe' %}">
            <button type="button" class="btn btn-default customButton">Continue with my report</button>
        </a>
        <br>
        <small><a style="color:#91b735;" data-toggle="modal" data-target="#takeMeHomeModal">I want to terminate my
            report and any information submitted to this point.</a></small>
    </div>

</form>

{% include "modal.html" with text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam ligula, vestibulum eu facilisis nec, rutrum ac enim. Sed pulvinar elit purus, et ultrices velit lobortis sed. Pellentesque lobortis congue rhoncus. Nulla euismod magna lorem, in tempor ex elementum ut. Vestibulum fringilla enim ligula, pulvinar ullamcorper tellus finibus vel. Aliquam erat volutpat. Mauris et enim lorem. Quisque sit amet erat arcu. Sed id interdum orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus mattis lectus vitae nulla vehicula dictum. Pellentesque justo eros, cursus et lacus a, posuere pharetra elit. Nullam luctus risus eu lacus sagittis vulputate. Vestibulum consectetur nisi a sem viverra, quis lacinia dui vestibulum." %}

{% endblock %}